{% if posts.pagination.pages is not empty %}
    <nav class="pagination-block">
        <ul class="pagination container">
            {% if pagination.prev %}
                <li class="page-item">
                    <a class="page-link prev" href="{{ pagination.prev.link }}">«</a>
                </li>
            {% else %}

            {% endif %}

            {% for page in pagination.pages %}
                {% if page.link %}
                    <li class="page-item">
                        <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                    </li>
                {% else %}
                    <li class="page-item active">
                        <span class="{{ page.class }}">{{ page.title }}</span>
                    </li>
                {% endif %}
            {% endfor %}

            {% if pagination.next %}
                <li class="next page-link">
                    <a href="{{ pagination.next.link }}">
                        »
                    </a>
                </li>
            {% else %}

            {% endif %}
        </ul>
    </nav>
{% endif %}
